<br><br><br>
<br><br><br>
<br>


<div class="container">
	<div class= "card">

		<div class= "card-header text-center">
			<h4>Welcome home Admin <%= current_user.first_name %> <%= current_user.last_name %> !</h4>
		</div>

		<div class= "card-body text-center">
			<p>Which controls are you gonna do?</p>
		<a class="btn-outline-warning btn btn-lg p-1" <%= link_to "Event list", admin_event_submissions_path%></a>
		<a class="btn-outline-danger btn btn-lg p-1" <%= link_to "User list", admin_checkusers_path%></a>
		</div>

	</div>
</div>